html {
     box-sizing: border-box;
}
 *, *::before, *::after {
     box-sizing: inherit;
}
 html, body {
     width: 1px; /*No idea why this works but it limits the width*/
     height: 100%;
     margin: 0;
     padding: 0;
     background-image: url(resources/background.jpg);
     -webkit-user-select: none;
   -moz-user-select: -moz-none;
    -ms-user-select: none;
        user-select: none;
}

td {
  transform: translate(10px, 10px);
}

table {
  transform: translate(163px, -130px);
}

#scoreboard {
  background-image: url(resources/board.jpg);
  transform: translate(10px, 10px);
  width: 98vw;
  height: 36.5vh;
}

.player {
  font-size: 1.8em;
  color: whitesmoke;
}

#score-header {
  filter: invert();
  transform: translate(10px, 10px);
  width: 140px;
}

.star {
    width: 42px;
    height: 37px;
    transform: translate(4px, 6px);
}

/*CARD ANIMATION BASED ON https://codepen.io/Rufusmedia/pen/YpWGYB*/
 .card {
     perspective: 1000px;
     position: absolute;
     z-index: 100;
}
.card-position {
  transition: transform 2s ease;
}
 .card.show > .innerCard {
     transform: rotateY(180deg);
}
.shuffle-buttons {
  position: fixed;
  top: 39vh;
  left:2vh;
  background: #ffffff99;
  color: #b7bdbd;
  border-radius: 4px;
  padding: 5px;
}
.switch-button {
display: inline;
margin-left: 5px;
margin-right: 5px;
}
 .innerCard {
     transition: 1.9s;
     transform-style: preserve-3d;
     position: relative;
}
 .front, .back {
     backface-visibility: hidden;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     border-radius: 5px;
     box-shadow: 5px 14px 12px -10px rgba(0,0,0,0.55);
}
.file-input, .back-button {
    transform: translate(1.19vw, 34.34vh);
    position: absolute;
    z-index: 99;
    color: whitesmoke;
    font-size: 19px;
}

#winner {
  position: fixed;
  z-index: 300;
}
#winner-msg {
  line-height: 50%;
  color: transparent;
  font-size:3em;
  z-index:400;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(245, 255, 75);
  padding-right: 8vw;
}

.trophy-icon {
    position: absolute;
    z-index: 99;
    font-size: 19px;
    transform: translate(1vw, 2vh);
    color: darkgrey;
}
.balloons {
  filter: hue-rotate(-216deg);
  transform: translate(220px, -100px);
}

.file-input.extra {
    transform: translate(3vw, 34.15vh);
    font-size: 15.2px;
}
#winner {
    position:fixed;
    border-radius: 20px;
    background-image: url(resources/confetti.gif);
    background-repeat: repeat;
    width: 100vw;
    height: 49vh;
    text-align: center;
}
.file-input > input {
  display: none;
}
input {
  color: grey;
}
 .back {
     background: #02b3e4;
     background-image: url(resources/back.png);
     background-size: contain;
     transform: rotateY(180deg);
     border-bottom: 4px solid #4c7c80;
}
 .front {
     background-color: rgb(0, 19, 96);
     z-index: 2;
}
